body{
  background-color: #1d1d1d;
}
#main{
  position: relative;
  /* min-height: 100vh; */
}
h1{
  margin-bottom: 0;
}
li{
  list-style: none;
}
.carousel-inner img{
  max-height: 100vh;
  height: 100%;
  background-color:rgba(0,0,0,.3);
}
.text-about{
  color: #fff;
  line-height: 1.55;
  font-size: 18px;
}
.main-text {
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: 1000;
}
.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.8);
}
.sliderTextSmall{
  padding: 10px 10px 0 10px;
}
/*section_2*/
.gallery{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-around;
}

.gallery a img{
  border-radius: 1.25rem;
  padding: 10px;
  display: block;
  width: 370px;
  height: 250px;
}
.gallery a:hover{
  transform: scale(1.05);
  transition: .5s;
}
@media only screen and (max-width: 992px),
only screen and (max-device-width: 992px){
  .sliderTextBig{
    font-size: 27.5px;
  }
  .sliderTextSmall{
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px),
only screen and (max-device-width: 800px){
  .sliderTextBig{
    font-size: 22.5px;
  }
  .sliderTextSmall{
    font-size: 15px;
  }
}
@media only screen and (max-width: 775px),
only screen and (max-device-width: 775px){
  .container{
    max-width: 650px;
  }
}
@media only screen and (max-width: 450px),
only screen and (max-device-width: 450px){
  .gallery a img{
    width: 350px;
    height: 250px;
  }
}
@media only screen and (max-width: 375px),
only screen and (max-device-width: 375px){
  .sliderTextBig{
    padding: 0 5px;
    font-size: 17.5px;
  }
  .sliderTextSmall{
    font-size: 12.5px;
  }
  .gallery a img{
    width: 250px;
    height: 200px;
  }
}
@media only screen and (max-width: 310px),
only screen and (max-device-width: 310px){
  .sliderTextBig{
    padding-top: 10px;
    font-size: 15px;
  }
  .sliderTextSmall{
    font-size: 10px;
  }
}
